<div class="list-view" *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.loading">
    <scrm-loading-spinner [overlay]="true"></scrm-loading-spinner>
  </ng-container>

  <scrm-smart-view-lease-filter
    [filter]="vm.search"
    (changeFilter)="onChangeSearchFilter($event)"></scrm-smart-view-lease-filter>

  <scrm-smart-view-lease-tool-bar
    *ngIf="vm.pagination && vm.pagination.page > 0"
    [pagination]="vm.pagination"
    [order]="vm.order"
    (changePage)="onPageChange($event)"
    (changeSortOrder)="onChangeSortOrder($event)"></scrm-smart-view-lease-tool-bar>
  <scrm-smart-view-lease-room
    *ngFor="let leaseRoom of vm.records; trackBy: trackByLeaseRoom"
    [leaseRoom]="leaseRoom"></scrm-smart-view-lease-room>
</div>
