<div class="list-view d-flex flex-column" *ngIf="vm$ | async as vm">
  <ng-container *ngIf="vm.loading">
    <scrm-loading-spinner [overlay]="true"></scrm-loading-spinner>
  </ng-container>

  <scrm-smart-view-lease-filter
    [filter]="vm.search"
    (changeFilter)="onChangeSearchFilter($event)"
    class="mb-4"></scrm-smart-view-lease-filter>

  <scrm-smart-view-lease-tool-bar
    *ngIf="vm.pagination && vm.pagination.page > 0"
    [pagination]="vm.pagination"
    [order]="vm.order"
    (changePage)="onPageChange($event)"
    (changeSortOrder)="onChangeSortOrder($event)"></scrm-smart-view-lease-tool-bar>
  <ul class="list-group">
    <scrm-smart-view-lease-room
      *ngFor="let leaseRoom of vm.records; trackBy: trackByLeaseRoom"
      [leaseRoom]="leaseRoom"
      class="list-group-item"></scrm-smart-view-lease-room>
  </ul>
</div>
