:host {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

select.form-select {
  width: 200px;
  border-color: rgb(118, 118, 118);
}

button.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
