<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">Тут будет фотография</div>

    <div class="col-md-6 border-left border-right room-link" [routerLink]="['/rooms', 'record', leaseRoom._id]">
      <div class="row">
        <div class="col-auto mb-2">
          Помещение № <span>{{ leaseRoom.name }}</span>
        </div>
        <div class="col-auto mb-2">
          Размер <span>{{ leaseRoom.unitSize }}</span> м²
        </div>
        <div class="col-auto mb-2">
          Ставка аренды <span>{{ rentPerMonth() }}</span> руб. в месяц
        </div>
        <div class="col-auto mb-2">
          Ставка аренды <span>{{ rentSqPerMonth() }}</span> руб. за м² в месяц
        </div>
        <div class="col-auto mb-2">
          Ставка аренды <span>{{ leaseRoom.grossRent }}</span> руб. за м² в год
        </div>
        <div *ngIf="leaseRoom.floor" class="col-auto mb-2">
          Этаж: <span>{{ leaseRoom.floor }}</span>
        </div>
        <div *ngIf="leaseRoom.deliveryCondition" class="col-auto mb-2">
          Состояние помещений: <span>{{ leaseRoom.deliveryCondition }}</span>
        </div>
        <div *ngIf="leaseRoom.typicalFloorLayout" class="col-auto">
          Планировка помещения: <span>{{ leaseRoom.typicalFloorLayout }}</span>
        </div>
      </div>
    </div>

    <div class="col-md-4 building-link" [routerLink]="['/building-offices', 'record', leaseRoom.building._id]">
      <div class="row mb-2">
        <div class="col-12">{{ leaseRoom.building.name }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-12">
          Класс: <span class="badge bg-secondary text-white">{{ leaseRoom.building.buildingClass }}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">{{ leaseRoom.building.address }}</div>
      </div>
    </div>
  </div>
</div>
